<template>
    <div class="border rounded m-4">
        <div class="p-4 bg-green-200">
            Home
        </div>
        <div class="p-4">
            You are logged in!
        </div>
    </div>
</template>

<script>
export default {
    middleware: 'auth',

    name: "Home",

    metaInfo () {
        return { title: this.$t('home') }
    },
}
</script>

<style scoped>

</style>
