<template>
    <div>
        link1
        <div class="m-2">
            {{ $t('error_alert_text') }}
        </div>
    </div>
</template>

<script>
    export default {
        name: "Link1"
    }
</script>

<style scoped>

</style>
