<template>
    <div>
        Welcome Page {{ title }}
        <div class="m-2">
            {{ locale }}
        </div>
        <div class="m-2">
            {{ $t('error_alert_text') }}
        </div>
        <div class="m-2">
            <button v-for="(locale, key) in locales" :key="key"
                    class="flex items-center border p-2 border-teal-500"
                    @click="setLocale(key)">
                <fa :icon="['fas', 'language']" size="2x" />
                <span class="pl-1">{{ locale }}</span>
            </button>
        </div>
        <div class="bg-gray-200">
            <button class="border p-4 border-teal-500 " @click="login">
                <span><fa :icon="['far', 'user']" /> LOGIN</span>
            </button>
            <button class="border p-4 border-blue-500 " @click="user">
                <span><fa :icon="['far', 'user']" /> USER</span>
            </button>
            <button class="border p-4 border-blue-500 " @click="logout">
                <span><fa :icon="['far', 'user']" /> LOGOUT</span>
            </button>
            <button class="border p-4 border-blue-500 " @click="cookie">
                <span><fa :icon="['far', 'user']" /> COOKIE</span>
            </button>
            <router-link :to="{ name: 'page1' }">
                <button class="border p-4 border-blue-500 ">
                    <span><fa :icon="['far', 'user']" /> LINK1</span>
                </button>
            </router-link>
            <button class="border p-4 border-blue-500 " @click="axios2">
                <span><fa :icon="['far', 'user']" /> AXIOS2</span>
            </button>
        </div>
        <div>
            <router-view />
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import { mapGetters } from "vuex"
    import { loadMessages } from "../plugins/i18n"

    export default {
        mounted() {

        },
        computed: {
            ...mapGetters({
                locale: 'lang/locale',
                locales: 'lang/locales'
            })
        },
        data: () => ({
            title: 'title'
        }),
        methods: {
            login () {
                axios.get('sanctum/csrf-cookie').then( () => {
                    axios.post('api/login', {
                            email: 'jo1@example.com',
                            password: 'password'
                        })
                        .then(res => {
                            console.log(res);
                        })
                })

            },
            user () {
                axios.get('api/user')
                    .then(res => {
                        console.log(res)
                    })
            },
            logout () {
                axios.post('api/logout')
                    .then(res => {
                        console.log(res)
                    })
            },
            cookie () {
                axios.get('sanctum/csrf-cookie').then(res => {
                        console.log('cookie response', res)
                    })
            },
            post () {
                axios.post('posts', {
                        data: 'data!!',
                    })
                    .then(res => {
                        console.log('post response', res)
                    })
            },
            axios2 () {
                axios.get('axios2')
                    .then(res => {
                        console.log('axios2 response', res)
                    })
            },
            setLocale (locale) {
                if (this.$i18n.locale !== locale) {
                    loadMessages(locale)
                    this.$store.dispatch('lang/setLocale', {locale: locale})
                }
            }
        }
    }
</script>

<style scoped>

</style>
