<template>
    <div>
        <loading ref="loading" />
        <component :is="layout" v-if="layout" />
    </div>
</template>

<script>

// Load layout components dynamically.
const requireContext = require.context('../layouts', false, /.*\.vue$/)

const layouts = requireContext.keys()
    .map(file =>
        [file.replace(/(^.\/)|(\.vue$)/g, ''), requireContext(file)]
    )
    .reduce((components, [name, component]) => {
        components[name] = component.default || component
        return components
    }, {})

import Loading from "./Loading"

export default {
    el: '#app',

    components: {
        Loading
    },

    data: () => ({
        layout: null,
        defaultLayout: 'Default'
    }),

    metaInfo () {
        const { appName } = window.config

        return {
            title: appName,
            titleTemplate: `%s · ${appName}`
        }
    },

    mounted () {
        this.$loading = this.$refs.loading
    },

    methods: {
        /**
         * Set the application layout.
         *
         * @param {String} layout
         */
        setLayout (layout) {
            if (!layout || !layouts[layout]) {
                layout = this.defaultLayout
            }
            this.layout = layouts[layout]
        }
    }
}
</script>
