<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Example Component</div>

                    <div class="bg-gray-200">
                        <button class="border p-4 border-teal-500 " @click="login">
                            <span><fa :icon="['far', 'user']" /> LOGIN</span>
                        </button>
                        <button class="border p-4 border-blue-500 " @click="user">
                            <span><fa :icon="['far', 'user']" /> USER</span>
                        </button>
                        <button class="border p-4 border-blue-500 " @click="logout">
                            <span><fa :icon="['far', 'user']" /> LOGOUT</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            login: () => {
                axios.get('/sanctum/csrf-cookie').then(res => {
                    axios.post('/login', {
                        email: 'jo1@examle.com',
                        password: 'password'
                    })
                    .then(res => {
                        console.log(res);
                    })
                })
            },
            user: () => {
                axios.get('/api/user').then(res => {
                    console.log(res)
                })
            },
            logout: () => {
                axios.post('/logout').then(res => {
                    console.log(res)
                })
            }
        }
    }
</script>
