<template>
    <div class="relative">
        <button @click="isOpen = !isOpen" class="block mt-4 lg:flex lg:items-center lg:mt-0 text-teal-200 hover:text-white">
            {{ locale.toUpperCase() }}
            <span>
                <fa :icon="['fas', 'angle-down']" class="pl-1"></fa>
            </span>
        </button>
        <button v-if="isOpen" @click="isOpen = false" tabindex="-1"
                class="fixed z-20 inset-0 h-full w-full cursor-default"></button>
        <div v-if="isOpen" class="absolute z-30 right-0 mt-2 py-2 w-48 bg-white rounded-lg shadow-xl">
            <a v-for="(value, key) in locales" :key="key" class="block px-4 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white" href="#"
               @click.prevent="setLocale(key)">
                {{ value }}
            </a>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import {loadMessages} from '../plugins/i18n'

    export default {
        created() {
            const handleEscape = (e) => {
                if (e.key === 'Esc' || e.key === 'Escape') {
                    this.isOpen = false
                }
            }
            document.addEventListener('keydown', handleEscape)
            this.$once('hook:beforeDestroy', () => {
                document.removeEventListener('keydown', handleEscape)
            })
        },

        computed: mapGetters({
            locale: 'lang/locale',
            locales: 'lang/locales'
        }),

        data: () => ({
            isOpen: false
        }),


        methods: {
            setLocale(locale) {
                if (this.$i18n.locale !== locale) {
                    loadMessages(locale)

                    this.$store.dispatch('lang/setLocale', {locale})

                    this.isOpen = false
                }
            }
        }
    }
</script>
