<template>
    <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
        <router-link :to="{ name: 'home' }" class="flex items-center flex-shrink-0 text-white mr-6">
            <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/>
            </svg>
            <span class="font-semibold text-xl tracking-tight">{{ appName }}</span>
        </router-link>
        <div class="block lg:hidden">
            <button @click="menuOpen = !menuOpen" class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                </svg>
            </button>
        </div>
        <div :class="menuOpen ? 'block' : 'hidden'" class="w-full flex-grow lg:flex lg:items-center lg:w-auto lg:justify-end">
            <!-- Authenticated -->
            <div v-if="user" class="relative">
                <div class="">
                    <div @click="profileOpen = !profileOpen" class="flex justify-end mt-4 lg:items-center lg:mt-0 text-teal-200 hover:text-white">
                        <fa icon="user" class="hidden text-xl lg:block lg:pr-1"></fa>{{ user.name }}<fa icon="angle-down" class="pl-1"></fa>
                    </div>
                </div>

                <button v-if="profileOpen" @click="profileOpen = false" tabindex="-1" class="fixed z-20 inset-0 h-full w-full cursor-default"></button>
                <div v-if="profileOpen" @click="profileOpen = !profileOpen" class="absolute z-30 right-0 mt-2 py-2 w-48 bg-white rounded-lg shadow-xl">
                    <router-link :to="{ name: 'settings.profile' }" class="block px-4 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white">
                        <fa icon="cog" fixed-width/>
                        {{ $t('settings') }}
                    </router-link>
                    <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white" @click.prevent="logout">
                        <fa icon="sign-out-alt" fixed-width/>
                        {{ $t('logout') }}
                    </a>
                </div>
            </div>
            <!-- Guest -->
            <div v-else>
                <router-link :to="{ name: 'login' }" class="flex justify-end mt-4 pl-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
                    {{ $t('login') }}
                </router-link>
                <router-link :to="{ name: 'register' }" class="flex justify-end mt-4 pl-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
                    {{ $t('register') }}
                </router-link>
            </div>
            <div class="flex justify-end relative pl-6">
                <locale-dropdown/>
            </div>
        </div>
    </nav>
</template>

<script>
import {mapGetters} from 'vuex'
import LocaleDropdown from './LocaleDropdown'

export default {
    components: {
        LocaleDropdown
    },

    created() {
        const handleEscape = (e) => {
            if (e.key === 'Esc' || e.key === 'Escape') {
                this.profileOpen = false
            }
        }
        document.addEventListener('keydown', handleEscape)
        this.$once('hook:beforeDestroy', () => {
            document.removeEventListener('keydown', handleEscape)
        })
    },

    mounted() {

    },

    data: () => ({
        appName: window.config.appName,
        menuOpen: false,
        profileOpen: false
    }),

    computed: mapGetters({
        user: 'auth/user'
    }),

    methods: {
        async logout() {
            // Log out the user.
            await this.$store.dispatch('auth/logout')

            // Close profile menu
            this.profileOpen = false

            // Redirect to login.
            await this.$router.push({name: 'welcome'})

        }
    }
}
</script>

<style scoped>
.profile-photo {
    width: 2rem;
    height: 2rem;
    margin: -.375rem 0;
}
</style>
