<template>
    <div class="text-center">
        <h3 class="p-4">
            {{ $t('page_not_found') }}
        </h3>

        <div class="border border-2xl border-teal-200">
            <router-link :to="{ name: 'welcome' }">
                {{ $t('go_home') }}
            </router-link>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'NotFound',
    }
</script>
