<template>
    <div class="container mx-auto">
        <div class="grid grid-cols-3 gap-4">
            <div class="col-span-1">
                <div class="m-2 divide-y divide-green-400">
                    <div class="p-4 bg-green-200 font-bold border border-transparent rounded-t">
                        {{ $t('settings') }}
                    </div>
                    <router-link v-for="tab in tabs" :to="{ name: tab.route }" :key="tab.route" class="p-4 block hover:bg-teal-400 hover:text-white last:rounded-b" active-class="bg-teal-400 text-white">
                        <fa :icon="tab.icon"></fa>
                        {{ tab.name }}
                    </router-link>
                </div>
            </div>
            <div class="col-span-2">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    middleware: 'auth',

    name: "Index",

    computed: {
        tabs() {
            return [
                {
                    icon: 'user',
                    name: this.$t('profile'),
                    route: 'settings.profile'
                },
                {
                    icon: 'key',
                    name: this.$t('password'),
                    route: 'settings.password'
                }
            ]
        }
    },

    data() {
        return {

        }
    }
}
</script>

<style scoped>

</style>
