<template>
    <div>
        password content
    </div>
</template>

<script>
export default {
    name: "Password.vue",

    metaInfo () {
        return { title: this.$t('settings') }
    },
}
</script>

<style scoped>

</style>
