<template>
    <div class="mx-auto max-w-6xl p-12 flex justify-center">
        <div class="flex flex-col md:flex-row justify-center">
            <div class="md:w-1/2 max-w-md flex flex-col justify-center">
                <div class="md:text-4xl text-xl font-black uppercase">{{ $t('login') }}</div>
                <div class="text-xl mt-4">Develop your workforce and make it a selling machine</div>
            </div>
            <div class="md:w-1/2 flex justify-start mt-5 md:justify-end w-full md:w-1/2 ">
                <div class="shadow-md flex-auto max-w-sm p-10 pb-20">
                    <div class="w-full">
                        <div class="font-bold h-6 mt-3 text-gray-600 text-xs leading-8 uppercase">
                            <span class="text-red-400 mr-1">*</span> {{ $t('email') }}
                        </div>
                        <div :class="[errors.email ? 'border-red-400' : '']" class="my-2 bg-white p-1 flex border border-gray-200 rounded">
                            <input v-model="email" :placeholder="$t('email')" type="email" class="p-1 px-2 appearance-none outline-none w-full text-gray-800">
                        </div>
                        <div v-if="errors.email" class="text-xs text-red-400">
                            {{ this.errors.email[0] }}
                        </div>
                    </div>
                    <div class="w-full">
                        <div class="font-bold h-6 mt-3 text-gray-600 text-xs leading-8 uppercase">
                            <span class="text-red-400 mr-1">*</span> {{ $t('password') }}
                        </div>
                        <div :class="[errors.password ? 'border-red-400' : '']" class="my-2 bg-white p-1 flex border border-gray-200 rounded">
                            <input v-model="password" @keydown.enter.prevent="login" placeholder="********" type="password" class="p-1 px-2 appearance-none outline-none w-full text-gray-800">
                        </div>
                        <div v-if="errors.password" class="text-xs text-red-400">
                            {{ this.errors.password[0] }}
                        </div>
                    </div>
                    <router-link :to="{name: 'register'}" class="flex justify-end w-full text-sm">
                        {{ $t('join_us') }}
                    </router-link>
                    <div class="mt-8 relative">
                        <div @click="login" class="shadow-md font-medium py-2 px-4 text-green-100 cursor-pointer bg-teal-600 rounded text-lg tr-mt  absolute text-center w-full">
                            {{ $t('submit') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios"

export default {
    name: "Login",

    metaInfo () {
        return { title: this.$t('login') }
    },

    data: () => ({
        email: '',
        password: '',
        errors: {}
    }),

    methods: {
        async login () {
            axios.get('sanctum/csrf-cookie').then( () => {
                axios.post('api/login', {
                    email: this.email,
                    password: this.password
                }).then( async () => {
                    // Save the token.
                    this.$store.dispatch('auth/setLogin')
                    // Fetch the user.
                    await this.$store.dispatch('auth/fetchUser')
                    // Redirect home.
                    this.$router.push({ name: 'home' })
                }).catch(error => {
                    this.errors = error.response.data.errors
                })
            })
        }
    }
}
</script>

<style scoped>

</style>
